
<div class="col-md-3 col-sm-6 text-center" ng-show="$ctrl.movie">

  <div class="thumbnail post">
    <img ng-src="{{$ctrl.movie.Poster}}" alt="">
    <h4>{{$ctrl.movie.Title}}</h4>
    <p><strong>Year:</strong> {{$ctrl.movie.Year}}</p>
    <p><strong>Type:</strong> {{$ctrl.movie.Type}}</p>
    <!--<p><strong>Genre:</strong> {{$ctrl.movie.Genre}}</p>-->
    <!--<p><strong>Director:</strong> {{$ctrl.movie.Director}}</p>-->
    <!--<p><strong>Actors:</strong> {{$ctrl.movie.Actors}}</p>-->
    <!--<p><strong>Plot:</strong> {{$ctrl.movie.Plot}}</p>-->
    <!--<p><strong>Country:</strong> {{$ctrl.movie.Country}}</p>-->
    <!--<p><strong>imdbRating: </strong> {{$ctrl.movie.imdbRating}}</p>-->
    <!--<p><strong>Production: </strong> {{$ctrl.movie.Production}}</p>-->
    <span>
      <a href="#" class="btn btn-primary">Watch</a>
      <a href="#" class="btn btn-default">More Info</a>
    </span>

  </div>
</div>
