$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../scripts/components/home/home";
@import "../scripts/components/search-bar/search-bar";
@import "../scripts/components/movie-block/movie-block";
@import "../scripts/components/search-page/search-page";
@import "../../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp";

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
