<div ng-submit="ctrl.search()">
  <div>
    <strong>Type:</strong>
    <div class="btn-group" role="group">
      <button type="button"
              class="btn btn-default"
              ng-class="{'btn-primary': ctrl.type == 'movie'}"
              ng-click="ctrl.type = 'movie'">movie
      </button>
      <button type="button"
              class="btn btn-default"
              ng-class="{'btn-primary': ctrl.type == 'series'}"
              ng-click="ctrl.type = 'series'">series
      </button>
      <button type="button"
              class="btn btn-default"
              ng-class="{'btn-primary': ctrl.type == 'episode'}"
              ng-click="ctrl.type = 'episode'">episode
      </button>
    </div>
  </div>

  <ol class="breadcrumb year">
    <li> Year:</li>
    <li><a href="#">Older</a></li>
    <li><a href="#" ng-click="ctrl.year = '1970'">1970-x</a></li>
    <li><a href="#" ng-click="ctrl.year = '1980'">1980-x</a></li>
    <li><a href="#" ng-click="ctrl.year = '1990'">1990-x</a></li>
    <li><a href="#" ng-click="ctrl.year = '2000'">2000-x</a></li>
    <li><a href="#" ng-click="ctrl.year = '2011'">2011</a></li>
    <li><a href="#" ng-click="ctrl.year = '2012'">2012</a></li>
    <li><a href="#" ng-click="ctrl.year = '2013'">2013</a></li>
    <li><a href="#" ng-click="ctrl.year = '2014'">2014</a></li>
    <li><a href="#" ng-click="ctrl.year = '2015'">2015</a></li>
    <li><a href="#" ng-click="ctrl.year = '2016'">2016</a></li>
    <li><a href="#" ng-click="ctrl.year = '2017'">New !</a></li>
  </ol>

  <form class="input-group">
    <input type="text"
           class="form-control"
           placeholder="Search for..."
           ng-model="ctrl.title">
    <span class="input-group-btn">
      <button class="btn btn-secondary glyphicon glyphicon-search" type="submit"></button>
    </span>
  </form>
</div>
<hr>


