<header class="search-header">
  <!--<movie-block imdb-id="imdbID" ng-repeat="imdbID in vm.topMovies"></movie-block>-->
  <div uib-carousel interval="3000" active="vm.active" style="height: 490px;">
    <div uib-slide ng-repeat="movie in (vm.movies | limitTo: 2)" index="$index">
      <div class="search-header-flex">
        <img ng-src="{{movie.Poster}}" alt="">

        <div>
          <h3><strong>{{movie.Title}}</strong></h3>
          <p><strong>Year:</strong> {{movie.Year}}</p>
          <p><strong>Type:</strong> {{movie.Type}}</p>
        </div>
      </div>
    </div>
  </div>
</header>
