<a class="text-center" alt="Avatar" style="width:100%">

    <div class="postHover">
      <div class="text-center">
        <img ng-if="vm.Poster != 'N/A'" ng-src="{vm.Poster}}" alt="">
      </div>
      <div>
        <h3><strong>{{vm.Title}}</strong></h3>
        <!--<h3><strong>{{vm.About}}</strong></h3>-->
        <p><strong>Genre:</strong> {{vm.Genre}}</p>
        <p><strong>Directed By:</strong> {{vm.Directed}}</p>
        <p><strong>Written By:</strong> {{vm.Written}}</p>
        <p><strong>In Theaters:</strong> {{vm.Theaters}}</p>
        <p><strong>Box Office:</strong> {{vm.BoxOffice}}</p>
        <p><strong>Runtime:</strong> {{vm.Runtime}}</p>
        <p><strong>Studio:</strong> {{vm.Studio}}</p>
      </div>
    </div>

    <div class="middle">
       <div class="text"><i class="glyphicon glyphicon-play"></i></div>
    </div>

</a>
