
.movie-block {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin-left: -5px;
  margin-right: -5px;

}

.movie-block .well {
  width: 300px;
  max-width: 300px;
  margin-right: 5px;
  margin-left: 5px;

}

img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .movie-block {
    justify-content: space-between;
  }

  .movie-block .well {
    min-width: 300px;
    max-width: 500px;
  }
}
