
<!--<form class="input-group" ng-submit="vm.search()">-->
<form class="input-group" ng-submit="vm.search()">
<!--<form class="input-group" ng-change="ctrl.onSearch({searchQuery: ctrl.model})" ng-model="ctrl.model">-->
  <input type="text" class="form-control" placeholder="Search for..." ng-model="vm.searchQuery">
  <span class="input-group-btn">
    <button class="btn btn-secondary glyphicon glyphicon-search" type="submit"></button>
  </span>
</form>

<hr>



<!--ng-change="ctrl.onSearch({text: ctrl.model})" ng-model="ctrl.model"-->
